.container-form{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    gap:20px;
    min-width: 300;
    max-width: 580px;
    /* grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto)); */
    justify-content: center;
    /* align-items: center; */
    /* margin: auto 30px auto 30px auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 5px 16px 0px rgba(0,0,0,0.28);
-webkit-box-shadow: 3px 5px 16px 0px rgba(0,0,0,0.28);
-moz-box-shadow: 3px 5px 16px 0px rgba(0,0,0,0.28);
}

.container-form .title-container{
    display: inline-block;
}
.container-form .title{
    font-size: 18px;
    font-weight: 500;
  
}
.container-item{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #E5E5E5;
    
}

.container-form input[type=text]:focus {
    border: 2px solid #E24429;
    outline: none;  //* remover el borde azul del input *// 
  }

.container-form .enviar{
    background-color: #E26868;
    height: 50px;
    width: 118px;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.container-form .enviar:hover{
    background-color: #FF8787;
}
.container-form .resetear{
    background-color: #FF8787;
    height: 50px;
    width: 118px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.container-form .resetear:hover{
    background-color:#E26868 ;
}

.error-text{
    color: red;
    margin: 0px;
}

.simbol{
    color: red;
}

.opacity{
    opacity: .5;
}